@import "commons/variables";

.productHome {
  margin-top: 40px;
  .heading {
    text-align: center;
    font-size: 2rem;
  }
  .table {
    margin-top: 20px;
  }
  .description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 500px;
  }
  .formSearch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
    .input {
      width: 80%;
      font-size: 1.4rem;
      padding: 4px 10px;
    }
  }
  .btnEdit {
    font-size: 1.4rem;
    padding: 4px 10px;
    margin-right: 10px;
  }
}
