@import "commons/variables";
.searchWrap {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  .search {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .searchForm {
    width: 100%;
    margin-right: 10px;
    .formControl {
      flex: 1;
    }
    .input {
      width: 100%;
      padding: 10px 0;
      font-size: 2rem;
      outline: none;
      border: none;
      color: $text-secondary-color;
      border-bottom: 3px solid #333;
    }
  }
  .btnClose {
    background-color: transparent;
    border: none;
    .icons {
      font-size: 3.5rem;
      color: $text-secondary-color;
      transition: all 0.3s ease;
      &:hover {
        color: $main-color;
        transform: rotate(45deg);
      }
    }
  }
}
.modalSearch {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  z-index: 100;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}
.show {
  animation: fadeIn 1s ease;
  transform: translateX(0);
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
